<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Obras de Teatro</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet" />
	<link th:href="@{/css/app.css}" rel="stylesheet" />
</head>

<body>

	<div th:replace="fragments/header :: navbar"></div>


	<main class="container">

		<div class="d-flex justify-content-between align-items-center mb-3">

			<div class="section-description">
				<h1 class="page-title">Obras de Teatro disponibles</h1>
				<p class="text-muted mb-4">
					En esta sección verás las Obras de Teatro disponibles.
				</p>
			</div>

			<a sec:authorize="hasRole('ADMIN')" class="btn btn-primary" th:href="@{/api/theater/createTheaterView}">
				<i class="bi bi-plus-lg"></i>
				Crear Obra de Teatro
			</a>
		</div>

		<div th:if="${#lists.isEmpty(theaters)}" class="text-center">
			<h4 class="mb-3">Aún no hay Obras de Teatro</h4>
		</div>

		<div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
			<div class="col" th:each="theater : ${theaters}">
				<div class="card shadow-sm h-100 p-3">

					<div class="card-body">

						<h2 th:text="${theater.idEvent}"></h2>

						<h5 class="card-title mb-2" th:text="${theater.name}">Nombre</h5>

						<p class="text-muted mb-2" th:text="${#temporals.format(theater.dateTime, 'dd/MM/yyyy HH:mm')}">
						</p>

						<p class="mb-1"><strong>Capacidad total:</strong>
							<span th:text="${theater.totalCapacity}"></span>
						</p>

						<p class="mb-1"><strong>Reservados:</strong>
							<span th:text="${theater.usedSeats}"></span>
						</p>

						<p class="mb-3"><strong>Disponibles:</strong>
							<span th:text="${theater.totalRermainigCapacity}"></span>
						</p>

<!--						sec:authorize="hasRole('ADMIN')"-->
						<form
							sec:authorize="hasRole('ADMIN')"
							th:action="@{'/api/theater/deleteTheater/' + ${theater.idEvent}}" method="post">
							<button type="submit" class="btn btn-sm btn-outline-danger">Eliminar</button>
						</form>
						
					</div>
				</div>
			</div>
		</div>

	</main>


	<div th:replace="fragments/footer :: footer"></div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>