<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Crear Obra de Teatro</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet" />
	<link th:href="@{/css/app.css}" rel="stylesheet" />
</head>

<body>

	<div th:replace="fragments/header :: navbar"></div>

	<main class="container mt-4">

		<div class="card p-4">

			<h1 class="page-title">Crear una nueva Obra de Teatro</h1>

			<form th:action="@{/api/theater/createTheater}" method="post">

				<div class="mb-3">
					<label class="form-label">Nombre</label>
					<input type="text" name="name" class="form-control" required>
				</div>

				<div class="mb-3">
					<label class="form-label">Fecha y Hora</label>
					<input type="datetime-local" name="dateTime" class="form-control" required>
				</div>

				<!--asientos-->
				<div class="mb-3">
					<label class="form-label">generalCant</label>
					<input type="text" name="generalCant" class="form-control" required>
				</div>

				<div class="mb-3">
					<label class="form-label">vipCant</label>
					<input type="text" name="vipCant" class="form-control" required>
				</div>

				<button type="submit" class="btn btn-primary mt-3">Crear Obra de Teatro</button>

			</form>

		</div>

	</main>

	<div th:replace="fragments/footer :: footer"></div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>