<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head></head>

<body>
	<div th:fragment="navbar">
		<nav class="navbar navbar-expand-lg fixed-top">
			<div class="container-fluid px-4">
				<a class="nav-link" th:href="@{/api/home}">Sistema de gestión de reservas (home)</a>
				<div class="d-flex gap-3">

					|
					<!--users-->
					<a class="nav-link" sec:authorize="!hasRole('ADMIN')" th:href="@{/api/booking/misReservas}">Mis
						reservas (user)</a>

					<!--admin-->
					<a class="nav-link" sec:authorize="hasRole('ADMIN')" th:href="@{/api/booking/allBooking}">Todas las
						reservas (admin)</a>

					|
					<a class="nav-link" th:href="@{/api/event/allEvents}">allEventos</a>
					
					|
					<a class="nav-link" th:href="@{/api/concert/allConcerts}">AllConcerts</a>

					<a class="nav-link" th:href="@{/api/theater/allTheaters}">AllTheaters</a>

					<a class="nav-link" th:href="@{/api/conference/allConferences}">AllConferences</a>
					|
					
				</div>

				<div class="d-flex gap-3">

					<a class="nav-link" th:href="@{/api/user/personalInfo}">Usuario</a>
					
					<form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()" class="m-0">
						<button type="submit" class="logout-btn">
							<i class="bi bi-box-arrow-right"></i>
						</button>
					</form>

				</div>

			</div>
		</nav>
	</div>
</body>

</html>